In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("municipios_brasileiro.csv", sep=';' , encoding="UTF-8")

In [5]:
df.head()

           CITY STATE  Pop_residente  IDHM_Rank  Renda Educacao  CARRO Regiao
0    Acrelândia    AC          12538       4079  0,584    0,466   1223  Norte
1  Assis Brasil    AC           6072       4448  0,578    0,456    290  Norte
2     Brasiléia    AC          21398       3832  0,619    0,485   2122  Norte
3        Bujari    AC           8471       4426  0,603    0,439    577  Norte
4      Capixaba    AC           8798       4755  0,601    0,398    561  Norte

In [8]:
df.shape

(5559, 8)

In [9]:
df = df.drop('CARRO', axis =1)

In [10]:
df = df.drop('Educacao', axis=1)

In [11]:
df.head()

           CITY STATE  Pop_residente  IDHM_Rank  Renda Regiao
0    Acrelândia    AC          12538       4079  0,584  Norte
1  Assis Brasil    AC           6072       4448  0,578  Norte
2     Brasiléia    AC          21398       3832  0,619  Norte
3        Bujari    AC           8471       4426  0,603  Norte
4      Capixaba    AC           8798       4755  0,601  Norte

In [15]:
df[['CITY','STATE']]

                CITY STATE
0         Acrelândia    AC
1       Assis Brasil    AC
2          Brasiléia    AC
3             Bujari    AC
4           Capixaba    AC
...              ...   ...
5554  Tocantinópolis    TO
5555        Tupirama    TO
5556      Tupiratins    TO
5557    Wanderlândia    TO
5558         Xambioá    TO

[5559 rows x 2 columns]

In [16]:
df[(df.Renda >=1)]

TypeError: '>=' not supported between instances of 'str' and 'int'